<!-- -*- mode: jinja2 -*- -->
{% extends 'base.html' %}

{% macro render_outer_folds(name, outer_fold) -%}

{#<div class="row">#}
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-folder-open"></i>

                <h3 class="box-title">Best Config Fold {{ outer_fold.fold_nr }}</h3>
                <div class="pull-right">
                    <a href="{{ url_for('show_outer_fold', storage=s, name=name, fold_nr=outer_fold.fold_nr) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-th-list"></span> Show details</a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <!--                <div id="outer_fold_{{ outer_fold.fold_nr }}_best_config_overview">-->
                <!--                    &lt;!&ndash; graph best_config_overview will be shown here &ndash;&gt;-->
                <!--                    &lt;!&ndash; will be filled through javascripts block &ndash;&gt;-->
                <!--                </div>-->

                <table class="table table-hover">
                    <tr>
                        <th>Element</th>
                        <th>Hyperparameter</th>
                    </tr>
                    {% for key, value in outer_fold.best_config.human_readable_config.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>


            </div>
    <!-- /.box-body -->
        </div>
    </div>
{#</div>#}
{%- endmacro %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">Hyperpipe</a></li>
        <li class="active">Pipeline: {{ pipe.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Outer folds of <em>{{pipe.name}}</em></h1>
        <small>Click for details</small>
    </section>
    <section class="content">
        {% if not pipe.hyperpipe_info.eval_final_performance %}
            <h4 class="btn btn-warning"> Best Configuration selected on validation set performance </h4>
        {% endif %}

        <div class="box box-solid">
            <div class="box-header">
                <h1 class="box-title">Hyperpipe Flowchart</h1>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-hover" style="margin-top: 2em;">
                            <tr>
                                <th>CrossValidation</th>
                            </tr>
                            {% for key, value in cross_validation_info.items() %}
                                <tr>
                                    <td>{{ key }} - {{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover" style="margin-top: 2em;">
                            <tr>
                                <th>Optimization</th>
                            </tr>
                            {% for key, value in optimizer_info.items() %}
                                <tr>
                                    <td>{{ key }} - {{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover" style="margin-top: 2em;">
                            <tr>
                                <th>Data</th>
                            </tr>
                            {% for key, value in data_info.items() %}
                                <tr>
                                    <td>{{ key }} - {{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="uk-align-center">
                            <pre id='Source01' style='display: none; '>
                                {{ pipe.hyperpipe_info.flowchart | safe }}
                            </pre>
                            <canvas id='Canvas01'></canvas>
                            <script>
                                 $( document ).ready(function() {
                                     var canvas = document.getElementById("Canvas01");
                                     var source = document.getElementById("Source01").innerHTML;
                                     var options = {
                                         fontSize: 14,
                                         shadeColor: "#B0C4DE",
                                         favorUniformNodeSizes: true,
                                         useSmartArrows: true,
                                         fontFamily: "Source Sans Pro",
                                         favorGoldenRatioLabelSize: true
                                     };
                                     pinker.draw(canvas, source, options);
                                 });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Performance of All Folds</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <h4>Overall Best Configuration</h4>
                            <table class="table table-hover" style="margin-top: 2em;">
                                <tr>
                                    <th>Element</th>
                                    <th>Hyperparameter</th>
                                </tr>
                                {% for key, value in pipe.best_config.human_readable_config.items() %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div id="optimizer_history">
                            </div>
                            <script>
                                {{ optimizer_history | safe }}
                            </script>
                        </div>
                        {% for overview_plot in overview_plots %}
                        <div class="col-md-3">
                            <div id="{{overview_plot.plot_name}}">
                            </div>
                            <script>
                                {{ overview_plot.to_plot() | safe }}
                            </script>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        {% if not pipe.hyperpipe_info.eval_final_performance %}
                            <h3 class="box-title">Validation Set Predictions</h3>
                        {% else %}
                            <h3 class="box_title">Test Set Predictions</h3>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        {% if not predictions_plot_train %}
                        <h4 class="btn btn-warning">Prediction plots are not available</h4>
                        {% else %}

                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">

                            <div id="predictions_plot_train">
                                <!-- graph best_config_overview will be shown here -->
                            </div>
                            <script>
                                {{ predictions_plot_train | safe }}
                            </script>

                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <div id="predictions_plot_test">
                            </div>
                            <script>
                                {{ predictions_plot_test | safe }}
                            </script>
                        </div>
                        <div class="col-md-1">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% if pipe.outer_folds %}
                {% for outer_fold in pipe.outer_folds %}
                    {{ render_outer_folds(pipe.name, outer_fold) }}
                {% endfor %}
            {% else %}
                <p class="no-posts">Nothing to see yet! Come back soon and check for updates.</p>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Time Monitor Pie Chart</h3>
                    </div>
                        <div id="time_monitor_pie_id">

                        </div>
                </div>
            </div>

            </div>
            <script>
                {{ time_monitor_pie | safe }}
                // var graphs =
                // Plotly.plot('test_pie',graphs,{});
            </script>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% for plot in best_config_plot_list %}
        <script>
            {{ plot.to_plot() | safe }}
        </script>
    {% endfor %}
{% endblock %}
