<!-- -*- mode: jinja2 -*- -->
{% extends 'base.html' %}

{% macro render_config_list(config) -%}
    <tr>
        <td style="vertical-align:middle;"><input type="checkbox" name="config_list" value="{{ config.config_nr }}" /></td>
        <td style="vertical-align:middle;">{{ config.config_nr }}</td>

        <td>
            {% for config_dict in config_dict_list %}
                {% if config_dict.config_nr == config.config_nr %}
                    {% for item in config_dict.items %}
                        <strong>{{ item.name }}:</strong> {{ item.value }}<br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>

        {% for metric in config.metrics_test %}
            {% if metric.operation == "FoldOperations.MEAN" %}
                <td style="vertical-align:middle;">{{'%0.2f' % metric.value|float}}</td>
            {% endif %}
        {% endfor %}

        <td style="vertical-align:middle;">
            <button id="btn-config-{{ config.config_nr }}" type="button"
                    onclick="load_tested_config('{{s}}', '{{ pipe.name }}', '{{ outer_fold.fold_nr }}', '{{config.config_nr}}')"
                    class="btn btn-xs btn-default"
                    data-toggle="modal"
                    data-target="#modal-{{ config.config_nr }}">
                <span class="glyphicon glyphicon-th-list"></span> Show details</button>
        </td>
    </tr>
{%- endmacro %}

{% macro render_modal(config) -%}

<!-- ----------------------------- START MODAL ----------------------------- -->

<div class="modal fade" id="modal-{{ config.config_nr }}">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Config {{ config.config_nr }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div id="train_config_{{config.config_nr}}">
                            <!-- plot will be shown here -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="test_config_{{config.config_nr}}">
                            <!-- plot will be shown here -->
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 2em;">
                        <table class="table table-hover">
                            <tr>
                                <th>Variable</th>
                                <th>Value</th>
                            </tr>
                            {% for config_dict in config_dict_list %}
                                {% if config_dict.config_nr == config.config_nr %}
                                    {% for item in config_dict.items %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>

                    </div>
                </div>
                <div class="row">
                    {% for inner_fold in config.inner_folds %}
                    <div class="col-md-4">

                    </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <div id="modal_tab_{{ config.config_nr }}" class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% for inner_fold in config.inner_folds %}
                                <li {% if loop.index == 1 %}class="active"{% endif %}><a href="#config_{{ config.config_nr }}_fold_{{ inner_fold.fold_nr }}" data-toggle="tab">Fold {{ inner_fold.fold_nr }}</a></li>
                                {% endfor %}
                            </ul>
                            <div id="ajax_config_{{ config.config_nr }}" class="tab-content"></div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- ------------------------------ END MODAL ------------------------------ -->

{%- endmacro %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">Hyperpipe</a></li>
        <li><a href="{{ url_for('show_pipeline', storage=s, name=pipe.name) }}">Pipeline: {{ pipe.name }}</a></li>
        <li class="active">Fold: {{ outer_fold.fold_nr }}</li>
    </ol>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            <i class="fa fa-bar-chart"></i> Details of selected outer fold <em>{{ outer_fold.fold_nr }}</em>
        </h1>
        <small>
            Compare values and tested config lists
        </small>
    </section>
    <section class="content">
        {% if not pipe.hyperpipe_info.eval_final_performance %}
            <h4 class="btn btn-warning"> Best Configuration selected on validation set performance </h4>
        {% endif %}
        <!----------------------------- START BEST CONFIG ----------------------------->
        <div class="row">

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Performance of Best Configuration</h3>
                    </div>
                    <div class="box-body">
                        <!-- Custom Tabs -->
                        {% for best_config_plot in best_config_plots %}
                        <div class="col-md-3">
                            <div id="{{best_config_plot.plot_name}}">
                            </div>
                            <script>
                                {
                                    {
                                        best_config_plot.to_plot() | safe
                                    }
                                }
                            </script>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Predictions</h3>
                    </div>
                    <div class="box-body">
                        {% if not pipe.hyperpipe_info.eval_final_performance %}
                        <h4 class="btn btn-warning">Not available in case "eval_final_performance" is False</h4>
                        {% else %}
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <h4>Training Set</h4>
                            <div id="best_config_training_values">
                            </div>
                            <script>
                                {{ final_value_training_plot | safe }}
                            </script>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <h4>Test Set</h4>
                            <div id="best_config_validation_values">
                            </div>
                            <script>
                                {{ final_value_validation_plot | safe }}
                            </script>
                        </div>
                        <div class="col-md-1">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------- END BEST CONFIG ----------------------------->

        <!---------------------------- START OTHER CONFIG ---------------------------->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <form action="{{ url_for('compare_configurations', storage=s, name=pipe.name, fold_nr=outer_fold.fold_nr) }}" method="post">
                        <div class="box-header">
                            <h1 class="box-title">Tested config list</h1>
                            <div class="box-tools pull-right">
                                <input type="submit" class="btn btn-sm btn-default" value="Compare configurations" />
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>Selection</th>
                                    <th>Config number</th>
                                    <th>Config dict</th>

                                    {% for metric in outer_fold.tested_config_list[0].metrics_test %}
                                        {% if metric.operation == "FoldOperations.MEAN" %}
                                            <th>{{ metric.metric_name }}</th>
                                        {% endif %}
                                    {% endfor %}

                                    <th>Options</th>
                                </tr>
                                {% for config in outer_fold.tested_config_list %}
                                    {{ render_config_list(config) }}
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!----------------------------- END OTHER CONFIG ----------------------------->
    </section>

    {% for config in outer_fold.tested_config_list %}
        {{ render_modal(config) }}
    {% endfor %}

{% endblock %}

{% block javascripts %}

    <script>
        function load_tested_config(storage, pipe_name, outer_fold_nr, config_nr) {
            if ($('#ajax_config_' + config_nr).is(':empty')){
                $.ajax({
                    url: '/pipeline/' + storage + '/' + pipe_name + '/outer_fold/' + outer_fold_nr + '/config/' + config_nr + '/load',
                    type: 'GET',
                    dataType: 'html',
                    success: function(data) {
                        if(data) {
                            $('#modal_tab_' + config_nr).show();
                            $('#ajax_config_' + config_nr).append(data);
                            $('#config_' + config_nr + '_fold_1').addClass('active');
                        } else {
                            $('#modal_tab_' + config_nr).hide();
                        }
                    },
                    error: function() {
                        alert('An error occurred.');
                    }
                });
            }
        }
    </script>

    {% for error_plot in error_plot_list %}
        <script>
            {{ error_plot.to_error_plot() | safe }}
        </script>
    {% endfor %}

{% endblock %}
