###### Requirements without Version Specifiers ######
numpy
matplotlib
slackclient
progressbar2
Pillow
scikit-learn
keras
nilearn
pandas
nibabel
pandas
six
h5py
xlrd
plotly
imblearn
pymodm
scipy
statsmodels
flask
