###### Requirements without Version Specifiers ######
numpy
matplotlib
progressbar2
Pillow
scikit-learn
keras
nilearn
pandas
nibabel
pandas
six
h5py
xlrd
plotly
imblearn
pymodm
scipy
statsmodels
flask
prettytable
# sk optimize
scikit-optimize
# fabolas
george
emcee
# you need FORTRAN compiler for the DIRECT package: sudo apt-get install gfortran
DIRECT