###### Requirements with temporary Version Specifiers ######
numpy
matplotlib
scikit-learn==0.23.1
keras
pandas
plotly
imbalanced-learn
pymodm
scipy
statsmodels
prettytable
seaborn
joblib
dask
distributed
scikit-optimize
pytest

# bcolz
# fabolas
# george
# emcee
# you need FORTRAN compiler for the DIRECT package: sudo apt-get install gfortran
# DIRECT
