<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>photon investigator</title>
    <link href="http://photon-ai.com/static/css/uikit.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 named_steps and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



    {% block stylesheets %}
    {% endblock %}

</head>
<body style="background: black; background: black url('http://photon-ai.com/static/img/index_back.jpg') right center no-repeat;">

    <div class="container" style="min-height: 950px;">
        <div class="uk-position-center">

                <h1 class="display-1" style="font-family: Oxygen, Sans-Serif; font-weight: bold; color: #6198fc;margin-bottom: 0px; text-shadow: 2px 2px #121123;">PHOTON INVESTIGATOR IS SHUTTING DOWN</h1>
                <h2><a href="http://www.photon-ai.com" style="font-family: Oxygen, Sans-Serif; color: #f5f4fa; text-align: center;">...now, what about visiting us at photon-ai.com?</a></h2>

        </div>
    </div>

</body>
</html>
